[Desktop Entry]
Comment=Flight-Dark Global Theme by l4k1
Name=Flight-Dark-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Flight-Dark-Global
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2068646,kns://colorschemes.knsrc/api.kde-look.org/2068644,kns://plasma-themes.knsrc/api.kde-look.org/2068659,kns://icons.knsrc/api.kde-look.org/2068653,kns://icons.knsrc/api.kde-look.org/2068651,kns://aurorae.knsrc/api.kde-look.org/2068650,kns://aurorae.knsrc/api.kde-look.org/2068649,kns://aurorae.knsrc/api.kde-look.org/2068647,kns://wallpaper.knsrc/api.kde-look.org/2068641,kns://wallpaper.knsrc/api.kde-look.org/2068631,kns://sddmtheme.knsrc/api.kde-look.org/2068642
